<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="Netsolution_Decimalfactor_Order_Save_After" instance="Netsolution\Decimalfactor\Observer\Updatedecfactordata" />
    </event>
</config>