<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Contact Us</h4>
                </div>
                
                <div class="content">
                    <form novalidate #f="ngForm" (ngSubmit)="processForm();">  
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" name='email' class="form-control border-input" placeholder="Email" [(ngModel)]="email">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone Number</label>
                                    <input type="email" name='phoneno' class="form-control border-input" placeholder="phoneno" [(ngModel)]="phoneno">
                                </div>
                            </div>
                        </div>
                        <li class="text" *ngFor="let contact of contacts | async">
                            {{contact.name}}{{contact.email}}
                        </li>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label> 
                                    <input type="text" name='firstname' class="form-control border-input" placeholder="First Name" [(ngModel)]="firstname" required minlength="3" #nameInput="ngModel">
                                    <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
                                        Name is required and needs to be at least 3 characters long.
                                      </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name='lastname' class="form-control border-input" placeholder="Last Name" [(ngModel)]="lastname">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" name="address" class="form-control border-input" placeholder="Home Address" [(ngModel)]="address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea rows="5" name="message" class="form-control border-input" placeholder="Here can be your description" value="" [(ngModel)]="message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" [disabled]="f.invalid" class="btn btn-info btn-fill btn-wd">Submit</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
