<div class="sidebar-wrapper">
  <div class="logo">
      <a href="https://www.creative-tim.com" class="simple-text">
          <div class="logo-img">
              <img src="../../assets/img/angular2-logo.png" alt="">
          </div>
          Control Panel
      </a>
  </div>
  <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/dashboard">
              <i class="ti-panel"></i>
              <p>Dashboard</p>
          </a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="/userlist">
              <i class="ti-user"></i>
              <p>Users List</p>
          </a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="/productlist">
              <i class="ti-view-list-alt"></i>
              <p>Product</p>
          </a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="/contactus">
              <i class="ti-pencil-alt2"></i>
              <p>Contact Us</p>
          </a>
      </li>
  </ul>
</div>
